.farm_dashboard_container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.farm_dashboard_sidebar {
  width: 100px;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 10px solid white; */
  padding: 10px;
}
.farm_dashboard {
  width: 100%;
  height: 100%;
  padding: 25px;
}
.farm_dashboard_sidebar img {
  margin-top: 10px;
  max-width: 50px;
}
.sidebar_navigrations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  margin-top: 50px;
}
.sidebar_navigrations svg {
  height: 30px;
  width: 30px;
}
.sidebar_navigrations svg path {
  fill: #9f9c96;
}
.sidebar_navigrations svg:hover {
  fill: var(--primary-color);
}
.nav_active path {
  fill: var(--primary-color) !important;
}

.sidebar_navigrations button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.sidebar_navigrations button:hover {
  fill: black;
}
.farm_dashboard_head {
  display: flex;
  justify-content: space-between;
  height: 67px;
}
.farm_dashboard_title h3 {
  font-family: "Poppins";
  font-size: 1.7em;
  font-weight: 600;
  color: #404040;
}
.farm_dashboard_title h4 {
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 400;
  color: #404040;
}
.farm_dashboard_title h4 span {
  color: var(--primary-color);
}

.farm_dashboard_wallet_button {
  padding: 10px 20px;
  height: fit-content;
  background-color: var(--primary-color);
  border-radius: 14px;
  outline: none;
  color: white;
  border: none;
  font-family: "Poppins";
  font-size: 0.9em;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0px 5px 8px rgba(255, 153, 0, 0.34);
}

.farm_dashbord_main {
  height: calc(100% - 67px);
  width: 100%;
  display: flex;
}
.inventory_main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.farm_dashboard_anlaytics {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.farm_dashboard_analytics_info {
  display: flex;
  justify-content: space-between;
}
.farm_dashboard_analytics_sales {
  padding: 0px 20px 0px 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.farm_dashboard_analytics_bar {
  width: 60%;
  height: fit-content;
  background-color: var(--primary-color);
  border-radius: 30px;
  padding: 25px;
}
.analytics_bar_sale h3 {
  font-family: "Poppins";
  font-size: 3em;
  font-weight: 600;
  color: white;
}
.analytics_bar_sale h3 h5 {
  display: inline;
  font-family: "Poppins";
  font-size: 0.5em;
  font-weight: 600;
}
.analytics_bar_sale h4 {
  display: inline;
  font-family: "Poppins";
  font-size: 1.2em;
  font-weight: 400;
  color: white;
}
.analytics_filter {
  align-self: flex-end;
}
.analytics_filter .weekly-button {
  outline: none;
  border: none;
  padding: 10px;
  background-color: var(--primary-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: "Poppins";
  font-size: 0.8em;
  font-weight: 400;
  color: white;
  float: left;
  cursor: pointer;
}
.analytics_filter .monthly-button {
  outline: none;
  border: none;
  padding: 10px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Poppins";
  font-size: 0.8em;
  font-weight: 400;
  float: left;
}
.analytics_total_batches {
  margin-top: 10px;
  height: fit-content;
  width: 100%;
  background-color: white;
  border-radius: 20px;
}
.analytics_total_sales {
  margin-top: 10px;
  height: fit-content;
  width: 100%;
  background-color: white;
  border-radius: 20px;
}
.analytics_total_batches,
.analytics_total_sales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.analytics_total_batches h3,
.analytics_total_sales h3 {
  font-family: "Poppins";
  font-size: 2em;
  font-weight: 500;
  color: var(--primary-color);
}
.analytics_total_batches h4,
.analytics_total_sales h4 {
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 400;
  color: #404040;
}
.farm_dashboard_analytics_history {
  margin-top: 15px;
  width: 100%;
  height: fit-content;
  background-color: white;
  border-radius: 25px;
  padding: 30px;
}
.farm_dashboard_analytics_history_head {
  display: flex;
  justify-content: space-between;
}
.farm_dashboard_analytics_history_head h3 {
  font-family: "Poppins";
  font-size: 1.5em;
  font-weight: 500;
  color: #404040;
}
.farm_dashboard_recent_table {
  margin-top: 15px;
  width: 100%;
}
.recent_table_head th {
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 400;
  border-bottom: 1px solid #b7b7b7;
}
.recent_table_content th {
  font-family: "Poppins";
  font-size: 1em;
  font-weight: 300;
  border-bottom: 0.5px solid #e4e4e4;
  padding: 10px;
}
.recent_table_content button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.farm_dashboard_create_batch {
  width: 500px;
  height: fit-content;
  padding: 25px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.create_batch_title {
  width: 100%;
}
.create_batch_title h3 {
  font-family: "Poppins";
  font-size: 1.2em;
  font-weight: 500;
  color: #404040;
  float: left;
}
.create_batch_input {
  width: 70%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 100px;
  border: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
}
.create_batch_input button {
  width: 35px;
  height: 35px;
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
}
.create_batch_input input {
  border: none;
  width: 50%;
  outline: none;
  text-align: center;
}

.create_batch_input input:focus {
  border: none;
  outline: none;
}
.create_batch {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_batch .create_batch_button {
  margin-top: 10px;
  outline: none;
  border: none;
  width: 70%;
  border-radius: 20px;
  background-color: var(--primary-color);
  padding: 10px 50px;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease;
}
.create_batch .create_batch_button:hover {
  box-shadow: 0px 5px 6px rgba(255, 153, 0, 0.5);
}
.generated_batch_qrcode {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.generated_batch_qrcode img {
  max-width: 180px;
}
.generated_batch_qrcode h3 {
  color: #404040;
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 5px;
}
.print-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.print-container h3 {
  color: #404040;
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 5px;
}
.qr_print_section {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-top: 2px dotted #404040;
}
.qr_print_section h3 {
  color: #404040;
  font-size: 1.3em;
  font-weight: 500;
}
.qr_print_buttons {
  display: flex;
  justify-content: center;
}
.qr_print_buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  outline: none;
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
.qr_print_buttons button:hover {
  box-shadow: 0px 5px 6px rgba(255, 153, 0, 0.5);
}
.farm_navigation_create_button {
  display: none;
}

/* inventory section */

.farm_dashboard_inventory {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.farm_inventory_analysis_section {
  overflow-y: auto;
  padding: 20px;
  width: 600px;
  height: 100%;
}
.farm_inventory_summary h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}
.farm_inventory_summary_info_blocks {
  display: flex;
}
.farm_inventory_summary_batches,
.farm_inventory_summary_chickens {
  width: 50%;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.farm_inventory_summary_chickens {
  margin-left: 10px;
}
.farm_inventory_summary_batches h3,
.farm_inventory_summary_chickens h3 {
  font-size: 2em;
  font-weight: 500;
  color: var(--primary-color);
}
.farm_inventory_summary_batches h4,
.farm_inventory_summary_chickens h4 {
  font-size: 1em;
  font-weight: 300;
}
.farm_inventory_summary_batches svg,
.farm_inventory_summary_chickens svg {
  align-self: flex-start;
}
.farm_inventory_market_summary {
  margin-top: 10px;
  height: fit-content;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.farm_inventory_market_summary h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}
.analytics_filter_mobile {
  display: none;
}
.close_batch_popup {
  display: none;
}
@media screen and (min-width: 1440px) {
  .farm_dashboard {
    font-size: 1.5em;
  }
  .farm_dashboard_head {
    height: 105px;
  }
  .farm_dashbord_main {
    height: calc(100% - 105px);
  }

  .generated_batch_qrcode img {
    max-width: 250px;
  }
  .create_batch_input button {
    width: 55px;
    height: 55px;
  }
  .farm_dashboard_create_batch {
    min-height: 700px;
  }
}
@media screen and (max-width: 425px) {
  .farm_dashboard {
    padding: 15px;
  }
  .farm_dashboard_create_batch {
    display: none;
  }
  .marketplace-icon {
    display: none;
  }
  .farm_dashbord_main {
    flex-direction: column;
    overflow-y: auto;
  }
  .farm_dashboard_sidebar {
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    height: 50px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    background-color: transparent;
  }
  .farm_dashboard_sidebar img {
    display: none;
  }
  .sidebar_navigrations {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    height: fit-content;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
  }
  .farm_dashboard_analytics_info {
    flex-direction: column;
  }
  .farm_navigation_create_button {
    margin-top: -30px;
    display: block;
    height: 60px;
    width: 60px;
    background-color: var(--primary-color) !important;
    border-radius: 200px;
    color: white;
    font-size: 2.5em;
    font-weight: 300;
  }
  .farm_dashboard_analytics_bar {
    width: 100%;
  }
  .farm_dashboard_analytics_sales {
    width: 100%;
    flex-direction: row;
    padding: 0px;
  }
  .total_sales_info,
  .total_batches_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .analytics_total_batches {
    margin-right: 10px;
  }
  .farm_dashboard_analytics_sales img {
    display: none;
  }
  .analytics_filter {
    display: none;
  }
  .analytics_filter_mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .analytics_filter_mobile button {
    width: 50%;
  }
  .analytics_total_batches,
  .analytics_total_sales {
    width: 100%;
  }
  .farm_dashboard_analytics_history {
    font-size: 0.8em;
    margin-top: 10;
  }
  .create_batch_popup {
    height: 100vh;
    width: 100vw;
    position: absolute;
  }
  .create_batch_popup .farm_dashboard_create_batch {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 10;
  }
  .create_batch_popup .farm_dashboard_create_batch .create_batch_title {
    width: unset;
  }
  .create_batch_popup .farm_dashboard_create_batch .create_batch_title h3 {
    font-size: 1.5em;
  }
  .close_batch_popup {
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
    align-self: flex-start;
  }
  .close_batch_popup svg {
    width: 40px;
    height: 40px;
  }
  /* Inventory Section */
  .farm_dashboard_inventory {
    overflow: unset;
  }
  .farm_inventory_analysis_section {
    padding: 0;
    width: 100%;
    height: fit-content;
    overflow-y: unset;
  }
  .farm_inventory_summary h3 {
    color: white;
    font-size: 1.3em;
  }
  .farm_inventory_market_summary {
    display: none;
  }
  .farm_inventory_summary {
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--primary-color);
  }
  .farm_inventory_summary_info_blocks svg {
    display: none;
  }
  .farm_inventory_summary_info_blocks h3 {
    font-size: 3em;
    font-weight: 800;
    color: white;
  }
  .farm_inventory_summary_info_blocks h4 {
    font-size: 1.2em;
    color: white;
    font-weight: 500;
  }
  .inventory_summary_data {
    text-align: center;
  }
  .farm_inventory_summary_batches,
  .farm_inventory_summary_chickens {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
  }
  .farm_inventory_summary_batches {
    border-right: 1px solid white;
  }
  .qr_print_buttons button {
    font-size: 1.1em;
  }
  .generated_batch_qrcode h3 {
    font-size: 1em;
  }
  .generated_batch_qrcode img {
    max-width: 200px;
  }
  .inventory_main {
    flex-direction: column;
  }
}
