@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.MuiButton-label {
  color: white;
}

.MuiDialogTitle-root h2 {
  color: white;
}

.MuiButton-containedPrimary {
  background-color: #ff9100 !important;
}

.MuiButton-containedPrimary:hover {
  background-color: #ff9100 !important;
}

.MuiDialogTitle-root {
  background-color: #ff9100 !important;
}

.MuiSvgIcon-root {
  fill: white !important;
}

.MuiPaper-rounded {
  border-radius: 10px !important;
}